<ng-container [ngSwitch]="name">
  <svg *ngSwitchCase="'high-speed-wifi'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M151 48c-12 0-24 4.6-33 13.6" />
      <path d="M151 48c12 0 24 4.6 33 13.6" />
      <path d="M151 60c-7 0-14 2.8-19 7.8" />
      <path d="M151 60c7 0 14 2.8 19 7.8" />
      <circle cx="151" cy="74" r="2" fill="var(--atnest-primary)" stroke="none" />
      <path d="M125 92h52" />
      <path d="M133 98h36" />
    </g>
  </svg>

  <svg *ngSwitchCase="'clean-spaces'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M92 80V58c0-8.8 7.2-16 16-16h86c8.8 0 16 7.2 16 16v22" />
      <path d="M100 80h102" />
      <path d="M112 46v-6" />
      <path d="M190 46v-6" />
      <path d="M108 80v14" />
      <path d="M194 80v14" />
      <path d="M120 94h62" />
    </g>
  </svg>

  <svg *ngSwitchCase="'free-parking'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M110 78h70l10 12v10h-90V90l10-12z" />
      <circle cx="128" cy="100" r="6" />
      <circle cx="172" cy="100" r="6" />
      <path d="M138 78V64c0-6.6 5.4-12 12-12h10c6.6 0 12 5.4 12 12v14" />
      <path d="M190 60h20" />
      <path d="M205 60v18" />
      <path d="M204 48h10" />
    </g>
  </svg>

  <svg *ngSwitchCase="'fitness-center'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M110 70h82" />
      <path d="M118 58v24" />
      <path d="M184 58v24" />
      <path d="M102 64v12" />
      <path d="M200 64v12" />
      <path d="M96 62v16" />
      <path d="M206 62v16" />
    </g>
  </svg>

  <svg *ngSwitchCase="'fine-dining'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M151 44c22 0 40 14 40 32s-18 32-40 32-40-14-40-32 18-32 40-32z" />
      <path d="M130 76h42" />
      <path d="M151 60v32" />
      <path d="M116 64c-4-10 4-22 16-24" />
    </g>
  </svg>

  <svg *ngSwitchCase="'technology-driven'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <rect x="124" y="36" width="54" height="80" rx="10" />
      <path d="M138 50h26" />
      <circle cx="151" cy="104" r="2" fill="var(--atnest-primary)" stroke="none" />
      <path d="M114 64c-10 8-10 24 0 32" />
      <path d="M188 64c10 8 10 24 0 32" />
    </g>
  </svg>

  <svg *ngSwitchCase="'room-service'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M104 92h94" />
      <path d="M116 92c0-18 16-32 35-32s35 14 35 32" />
      <path d="M151 48v12" />
      <path d="M145 48h12" />
      <path d="M190 92v8" />
    </g>
  </svg>

  <svg *ngSwitchCase="'laundry-service'" viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <g fill="none" stroke="var(--atnest-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <rect x="122" y="34" width="58" height="84" rx="10" />
      <circle cx="151" cy="78" r="18" />
      <circle cx="151" cy="78" r="6" fill="var(--atnest-primary)" stroke="none" />
      <path d="M136 46h18" />
      <path d="M164 46h4" />
    </g>
  </svg>

  <svg *ngSwitchDefault viewBox="0 0 302 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"></svg>
</ng-container>
