.hero-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  margin-bottom: var(--space-5);
}

.hero-amenity {
  width: 2.75rem;
  height: 2.75rem;
  display: inline-flex;
  border-radius: 0.9375rem;
  background: #FFF;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
  align-items: center;
  justify-content: center;
}

.hero-amenity-icon {
  font-size: 1.1rem;
  display: block;
  text-align: center;
  line-height: 1;
}
